p {
  margin: 0;
}
.show-data {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #ffffff;
}
.show-data .count {
  font-size: 50px;
  height: 80px;
  line-height: 80px;
}
.show-data .desc {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
